.container {
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 40px auto;
  width: 700px;
}

.container-header {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid darkgrey;
}
